---
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import Lamp from "./assets/lamp.svg"
import Icon from "./assets/icon.svg"

import Background from "./assets/bg.webm"
---

<BaseLayout>
	<section class="min-h-screen flex flex-col justify-center  text-white">
		<video width="320" height="340" autoplay muted loop id="home-video" class="min-h-screen min-w-[100%] absolute z-[-100] object-cover">
			<source src={Background} type="video/webm" />
		</video>
		<div class="min-h-[111vh] min-w-[100%] absolute z-[-99] object-cover bg-black opacity-60 "></div>
		<article class="flex flex-col gap-6 m-12">
			<article class="flex flex-col gap-4">
				<h1 class="text-6xl uppercase font-extrabold font-montserrat flex items-center"><Image src={Icon} height={95} width={95} alt={"Logo de um templo Grego"}/>Filosofa<span class="font-semibold">.Ai</span></h1>
				<p class="text-3xl">Estamos em uma pandemia: <span class="font-bold">A ignorância.</span></p>
			</article>
			<a href="" class="flex items-center justify-center border-2 border-white gap-[24px] font-inter font-semibold text-2xl px-5 rounded-2xl h-[60px] w-[400px] hover:scale-105 duration-300"><Image src={Lamp} height={40} width={40} alt={"Logo de uma lâmpada"}/>Conheça nossa missão</a>
		</article>
	</section>
</BaseLayout>